{{ define "about" }}
<div>
    <p>
        {{ template "numbers" . }}
    </p>

    <p>
        Grateful Dead Shows is a simple web application for browsing Grateful Dead
        concert information.
    </p>

    <p>
        The site is free and open source.  The source code is available in the
        GitHub repository at <a target="_blank" href="https://github.com/jeffscottbrown/gratefuldeadshows">github.com/jeffscottbrown/gratefuldeadshows</a>.
        Contributions are welcome.
    </p>

    <p>
        The data provided in the application was sourced from 
        <a target="_blank" href="https://github.com/jefmsmit/gdshowsdb">github.com/jefsmit/gdshowsdb</a>.
    </p>

    <p>
        Enjoy!
    </p>

    <p>
        <a href="mailto:info@gratefuldeadshows.com">info@gratefuldeadshows.com</a>
    </p>
</div>
{{ template "updateTitle" . }}

{{ end}}
