{{ block "pagination" . }}
{{ .Message }}
  <nav aria-label="Page Navigation">
    <div class="pagination">
        <a hx-push-url="true" class="page-link" hx-target="#main"
          hx-get={{ .Uri }} hx-vals='{"offset": "0"}'>First</a>

          <a
          hx-push-url="true"
          {{if gt .CurrentOffset 0}}
            class="page-link"
          {{ else }}
            class="page-link disabled"
          {{end}}
          hx-target="#main" hx-get={{ .Uri }} hx-vals='{"offset": "{{ .PreviousOffset }}"}'>Previous</a>

            <a
            hx-push-url="true"
            {{if lt .CurrentOffset .NextOffset}}
              class="page-link"
            {{else}}
              class="page-link disabled"
            {{end}}
            hx-target="#main" hx-get={{ .Uri }} hx-vals='{"offset": "{{ .NextOffset}}"}'>Next</a>

        <a hx-push-url="true" class="page-link" hx-target="#main"
          hx-get={{ .Uri }} hx-vals='{"offset": "{{ .LastOffset}}"}'>Last</a>
    </div>
  </nav>
{{ end }}

{{ block "updateTitle" . }}
  <script>
    document.title = {{ .Title }};
  </script>
{{ end }}

{{ block "songTable" . }}
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">Song Title</th>
        <th scope="col">Number Of Shows</th>
      </tr>
    </thead>
    <tbody>
      {{ range $_, $song := .Songs }}
        <tr>
          <td>
            <div>
              <input type="hidden" name="song" value="{{ $song.ID }}">
              <a hx-push-url="true" hx-target="#main"
                hx-get="/song/{{ $song.Title }}">{{ $song.Title }}</a>
            </div>
          </td>
          <td>
            {{ formatNumber $song.NumberOfShows }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
