{{define "shows" }}
<div class="display-6">
  {{ if .Message }}
  {{ .Message }}
  {{ else }}
  Shows
  {{ end }}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Year</th>
      <th scope="col">Venue</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $show := .Shows }}
    <tr>
      <td>
        <div>
          {{ $year := formatDate $show.Date "2006" }}
          {{ $month := formatDate $show.Date "01" }}
          {{ $day := formatDate $show.Date "2" }}
          <a hx-push-url="true" style="text-decoration: underline;" hx-target="#main" hx-get="/show/{{ $year }}/{{ $month }}/{{ $day }}">
            {{ formatDate $show.Date "January 2" }}
          </a>

        </div>
        <td>
          <div>
            {{ $year := formatDate $show.Date "2006" }}
            <a hx-push-url="true"
            style="text-decoration: underline;"
            hx-target="#main"
            hx-get="/year/{{ $year }}">{{ $year }}</a>
          </div>
        </td>
        <td>
          <div>
            <a hx-push-url="true"
            style="text-decoration: underline;"
            hx-target="#main"
            hx-get="/venue/{{ $show.City }}/{{ $show.Venue }}">{{ $show.Venue }}</a>

          </div>
        </td>
        <td>
          <div>
            <a hx-push-url="true"
            style="text-decoration: underline;"
            hx-target="#main"
            hx-get="/city/{{ $show.State }}/{{ $show.City }}">{{ $show.City }}</a>
          </div>
        </td>
        <td>
          <div>
            <a hx-push-url="true"
            style="text-decoration: underline;"
            hx-target="#main"
            hx-get="/state/{{ $show.State }}">{{ $show.State }}</a>

          </div>
        </td>
        <td>
          <div>
            <a hx-push-url="true"
            style="text-decoration: underline;"
            hx-target="#main"
            hx-get="/country/{{ $show.Country }}">{{ $show.Country }}</a>

          </div>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{ if .Pagination }}
  {{ template "pagination" .Pagination }}
  {{ end }}

  {{ end }}
