<div class="display-6">
    {{ formatDate .Show.Date "January 2, 2006" }} at {{ .Show.Venue }} in {{ .Show.City }}, {{ .Show.State }}
</div>


{{ range $index, $set := .Show.Sets }}
<h2>Set {{ $set.SetNumber }}</h2>
<ol>
    {{ range $index, $song := $set.SongPerformances }}
    <li>
        <div>
            <input type="hidden" name="song" value="{{ $song.Song.Title }}">
            <a hx-push-url="true" style="text-decoration: underline;" hx-target="#main" hx-include="closest div" hx-post="/song/">{{
                $song.Song.Title }}</a>
        </div>

    </li>
    {{ end }}
</ol>
{{end}}