<div class="display-6">
  {{ if .Message }}
  {{ .Message }}
  {{ else }}
  Shows
  {{ end }}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Year</th>
      <th scope="col">Venue</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $show := .Shows }}
    <tr>
      <td>
        <div>
          <input type="hidden" name="id" value="{{ $show.ID }}">
          <a hx-push-url="true" style="text-decoration: underline;" hx-target="#main" hx-include="closest div" hx-post="/show/">
            {{ formatDate $show.Date "January 2" }}
          </a>

        </div>
      <td>
        <div>
          {{ $year := formatDate $show.Date "2006" }}
          {{ template "itemlink" (dict "attributeName" "year" "attributeValue" $year) }}
        </div>

      </td>
      <td>
        <div>
          {{ $hiddenFormFields := dict "city" $show.City }}
          {{ template "itemlink" (dict "hiddenFormFields" $hiddenFormFields "attributeName" "venue" "attributeValue" $show.Venue) }}
        </div>
      </td>
      <td>
        <div>
          {{ $hiddenFormFields := dict "state" $show.State }}
          {{ template "itemlink" (dict "hiddenFormFields" $hiddenFormFields "attributeName" "city" "attributeValue" $show.City) }}
        </div>
      </td>
      <td>
        <div>
          {{ template "itemlink" (dict "attributeName" "state" "attributeValue" $show.State) }}
        </div>
      </td>
      <td>
        <div>
          {{ template "itemlink" (dict "attributeName" "country" "attributeValue" $show.Country) }}
        </div>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "pagination" .Pagination }}
