{{ define "show" }}
<h4>
    {{ formatDate .Show.Date "January 2, 2006" }} at {{ .Show.Venue }} in {{ .Show.City }}, {{ .Show.State }}
</h4>

{{ range $index, $set := .Show.Sets }}
<h5>Set {{ $set.SetNumber }}</h5>
<table class="content-table">
  <tbody>
    {{ range $index, $song := $set.SongPerformances }}
      <tr>
       <td>
          {{ $song.OrderInSet }}. <a hx-push-url="true" hx-target="#main" class="song-link" hx-get="/song/{{ $song.Song.Title }}">{{ $song.Song.Title }}</a>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ template "updateTitle" . }}

{{ end }}
