{{define "shows" }}
<div class="gd-heading">
  {{ if .Message }}
  {{ .Message }}
  {{ else }}
  Shows
  {{ end }}
</div>
<table>
  <tbody class="show-list">
    {{ range $index, $show := .Shows }}
    <tr>
      <td>
        <div class="show-summary">
          <div>
            {{ $year := formatDate $show.Date "2006" }}
            {{ $month := formatDate $show.Date "01" }}
            {{ $day := formatDate $show.Date "2" }}
            <a hx-push-url="true" hx-target="#main" hx-get="/show/{{ $year }}/{{ $month }}/{{ $day }}">
              {{ formatDate $show.Date "January 2" }}
            </a>

            <a hx-push-url="true" hx-target="#main" hx-get="/year/{{ $year }}">
              {{ formatDate $show.Date "2006" }}
            </a>

            at

            <a hx-push-url="true"
            hx-target="#main"
            hx-get="/venue/{{ $show.City }}/{{ $show.Venue }}">{{ $show.Venue }}</a>
          </div>
          <div>
            <a hx-push-url="true"
            hx-target="#main"
            hx-get="/city/{{ $show.State }}/{{ $show.City }}">{{ $show.City }}</a>

            <a hx-push-url="true"
            hx-target="#main"
            hx-get="/state/{{ $show.State }}">{{ $show.State }}</a>

            <a hx-push-url="true"
            hx-target="#main"
            hx-get="/country/{{ $show.Country }}">{{ $show.Country }}</a>

          </div>
        </div>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ if .Pagination }}
{{ template "pagination" .Pagination }}
{{ end }}

{{ end }}
