{{ define "songs" }}
<div class="gd-heading">
    {{ if .Message }}
    {{ .Message }}
    {{ else if .Title }}
    {{ .Title }}
    {{ else }}
    Songs
    {{ end }}
  </div>

<div class="mb-3">
    <input type="text" class="form-control" id="songTitle" name="songTitle" placeholder="Search for a song title" 
           hx-post="/search" hx-swap="innerHTML" hx-target="#songTable" hx-trigger="keyup[this.value.length > 2] changed delay:500ms">
</div>
<div id="songTable">
{{ template "songTable" . }}
{{ template "pagination" .Pagination }}
</div>

{{ template "updateTitle" . }}

{{ end }}
