<div class="alert alert-secondary" role="alert">
    Songs
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Song Title</th>
        </tr>
    </thead>
    <tbody>
        {{ range $_, $song := .Songs }}
        <tr>
            <td>
                <div>
                    
                    <input type="hidden" name="song" value="{{ $song.Title }}">
                    <a hx-push-url="true" style="text-decoration: underline;" hx-target="#main" hx-include="closest div"
                        hx-post="/song">{{
                        $song.Title }}</a>
                </div>

            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ template "pagination" dict "Fields" .Pagination.Fields "Uri" .Pagination.Uri "PreviousOffset" .Pagination.PreviousOffset "NextOffset" .Pagination.NextOffset "NavLabel" "Song Pagination"}}
