{{ define "venues" }}
<div class="gd-heading">
    {{ if .Message }}
    {{ .Message }}
    {{ else if .Title }}
    {{ .Title }}
    {{ else }}
    Venues
    {{ end }}
</div>

<table class="content-table">
    <thead>
        <tr>
            <th scope="col">Venue</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Number Of Shows</th>
        </tr>
    </thead>
    <tbody>
        {{ range $_, $venue := .Venues }}
        <tr>
            <td>
                <div>
                    <a hx-push-url="true" 
                    hx-target="#main"
                    hx-get="/venue/{{ $venue.City }}/{{ $venue.Venue }}">{{ $venue.Venue }}</a>
                </div>
            </td>
            <td>
                <div>
                    <a hx-push-url="true"
                    hx-target="#main"
                    hx-get="/city/{{ $venue.State }}/{{ $venue.City }}">{{ $venue.City }}</a>


                </div>

            </td>
            <td>
                <div>
                    <a hx-push-url="true"
                    hx-target="#main"
                    hx-get="/state/{{ $venue.State }}">{{ $venue.State }}</a>
                </div>
            </td>
            <td>
                {{ $venue.NumberOfShows }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ template "pagination" .Pagination }}

{{ template "updateTitle" . }}

{{ end }}
