<div class="alert alert-secondary" role="alert">
    Venues
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Venue</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        {{ range $_, $venue := .Venues }}
        <tr>
            <td>
                <div>
                    {{ $hiddenFormFields := dict "city" $venue.City }}
                    {{ template "itemlink" (dict "hiddenFormFields" $hiddenFormFields "attributeName" "venue"
                    "attributeValue" $venue.Venue) }}
                </div>
            </td>
            <td>
                <div>
                    {{ template "itemlink" (dict "attributeName" "city" "attributeValue" $venue.City) }}
                </div>

            </td>
            <td>
                <div>
                    {{ template "itemlink" (dict "attributeName" "state" "attributeValue" $venue.State) }}
                </div>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ template "pagination" .Pagination }}
