body {
    padding: 30px;
}

main {
    padding-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: maroon;
}

h5 {
    filter: brightness(.7);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
a.page-link.disabled {
    background-color: white;
    color: grey;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.content-table tbody tr td a[hx-get]:hover {
    cursor: pointer;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid maroon;
}
.content-table tbody tr:first-of-type {
    border-top: 2px solid maroon;
}

.content-table tbody td.row-heading {
    font-weight: bold;
    text-align: right;;
}

.content-table a[hx-get] {
    text-decoration: none;
    color: inherit;
}
.content-table a[hx-get]:hover {
    text-decoration: underline;
    color: inherit;
}

.pagination {
    display: flex;
    gap: 1rem;
    justify-content: left;
    padding: 1rem;
    font-family: sans-serif;
}

.page-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin-left: 1em;
}

.page-link:hover {
    background-color: maroon;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.page-link:active {
    transform: scale(0.97);
}

li.nav-item select.page-link {
    color: maroon;
}

li.nav-item select.page-link:hover {
    color: white;
}

li.nav-item a.page-link {
    color: maroon;
}

li.nav-item a.page-link:hover {
    color: white;
}

div.pagination a.page-link {
    color: maroon;
    border: 1px solid maroon;
}

div.pagination a.page-link:hover {
    color: white;
}
