<div class="alert alert-secondary" role="alert">
    {{ formatDate .Show.Date "January 2, 2006" }} at {{ .Show.Venue }} in {{ .Show.City }}, {{ .Show.State }}
</div>


{{ range $index, $set := .Show.Sets }}
    <h2>Set {{ $set.Number }}</h2>
    <ol>
        {{ range $index, $song := $set.Songs }}
            <li>
                <div>
                    <input type="hidden" name="songTitle" value="{{ $song.Title }}">
                    <a style="text-decoration: underline;" hx-target="#main" hx-include="closest div" hx-post="/song/">{{
                      $song.Title }}</a>
                  </div>

            </li>
        {{ end }}
    </ol>
{{end}}